.field {
  display: flex;
  flex-direction: column;
}

.errorMessage {
  margin-top: 0.375rem;
  font-size: 0.8125rem;
  color: #ef4444;
}

.helperText {
  margin-top: 0.375rem;
  font-size: 0.8125rem;
  color: #6b7280;
}
